body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #4f46e5, #0ea5e9);
    color: white;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}